@model AdminCrawler.Models.Article

<div class="modal-header">
    <h4 class="modal-title">Preview</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


<!-- Modal body -->
<div class="modal-body" style="background: white">
    <div id="resultId">


        <div>
            <h3>
                Tiêu đề:
            </h3>
            @Model.Title
        </div>

        <div>
            <h3>
                Mô tả:
            </h3>
            @Model.Description
        </div>

        <div>
            <h3>
                Ảnh:
            </h3>
            <img src="@Model.Image" alt="Alternate Text" />
        </div>

        <div>
            <h3>
                Nội dung:
            </h3>
            @Model.Content
        </div>

        <div>
            <h3>
                Danh mục:
            </h3>
            @Model.Category
        </div>




    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>


@section Scripts {
  
    <script>
        $('#exampleModal').on('.exampleModal', function () {
            $('#exampleModal').trigger('focus')
        })
    </script>
}